
body {
	font:  georgia, sans-serif;

	color: rgb(255,255,204);
	background-color: rgb(153,102,153);
	margin: 20;
	padding: 0;
	}
	header {
	  height: 200px;
	  padding: 20px 0 70px 0;
	  text-align: center;
	  background: #2d6360 50% 0; /*url(huntington.jpg) no-repeat; /* old IE fallback */


	}

h1{text-align: center;
font-family: Vivaldi;
font-size: 50px;}
 p {text-align: center;}
 #picture{width: 300px;
 height:80px;
}

.movielinks{text-decoration: none;}
.movielinks:hover{color:red;}

.movieimages{height:150px;
width:150px;}

.fun{text-align: justify;
font-family: cursive;}
